{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}


    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fsocial-auth;mobilebuttons=0;"></div>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}

{% endblock %}

{% block title %}
    Авторизация

{% endblock %}

