{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <p><a href="{{ path('app-sign-up') }}">Зарегистрироваться</a></p>
    <p><a href="{{ path('auth') }}">Авторизоваться</a></p>
    {% if error == 1 %}
        <p>Неверный ввод</p>
    {% endif %}
{% endblock %}